{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ENTRADAS</h1>

    <h2>Produtos</h2>

    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
                {% if entrada.data.month == 8 %}
                    <tr>
                        <td scope="row">{{ entrada.id }}</td>
                        <td scope="row">{{ entrada.categoria }}</td>
                        <td scope="row">{{ entrada.valor }}</td>
                        <td scope="row">{{ entrada.descricao }}</td>
                        <td scope="row">{{ entrada.data }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            

        </tbody>
    </table>
    <h3>{{ soma }}</h3>


    
</body>
</html>