{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}WARNING{% endblock %}

{% block content %}
<div class="container">
    {% if titulo %}
    <h1>{{ titulo }}</h1>
    {% endif %}
    {% if logado %}
    
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Mês</th>
                <th scope="col">Total Entradas</th>
                <th scope="col">Total Saídas</th>
                <th scope="col">Total Poupança</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row"><strong>#</strong></th>
                <td><strong>{{ soma_entradas }}</strong></td>
                <td><strong>{{ soma_saidas }}</strong></td>
                <td><strong>{{ soma_poupanca }}</strong></td>
                <td><strong>{{ saldo }}</strong></td>
            </tr>
            
        </tbody>
    </table>

    


    {% endif %}

</div>
{% endblock %}