{% extends 'base.html' %}
{% load static %}
{% block title %}Saídas{% endblock %}

{% block content %}

<h1>Pesquisar Saídas </h1>

<form action="{% url 'pesquisa_saidas' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Pesquisar</button>

</form>
<br>
<br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        {% for saida in saidas %}
        <tr>
            <th scope="row">{{ saida.id }}</th>
            <td>{{ saida.categoria }}</td>
            <td>{{ saida.descricao }}</td>
            <td>{{ saida.data }}</td>
            <td>{{ saida.valor }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th scope="row">#</th>
            <td>#</td>
            <td>#</td>
            <td>TOTAL</td>
            <td>{{ soma }}</td>
        </tr>
    </tbody>
</table>


{% endblock %}