{% extends 'base.html' %}
{% load static %}
{% block title %}Poupança{% endblock %}

{% block content %}

<h1>Pesquisar POUPANÇA </h1>

<form action="{% url 'poupanca' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Pesquisar</button>

</form>
<br>
<br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>

        {% for poup in poupanca %}
        <tr>
            <th scope="row">{{ poup.id }}</th>
            <td>{{ poup.descricao }}</td>
            <td>{{ poup.data }}</td>
            <td>{{ poup.valor }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th scope="row"><strong>#</strong></th>
            <td><strong># # # # #</strong></td>
            <td><strong>TOTAL</strong></td>
            <td><strong>{{ soma }}</strong></td>
        </tr>
    </tbody>
</table>

{% endblock %}