{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saídas</title>
</head>
<body>
    <!-- Julho -->
    <a href="{% url 'index' %}">HOME</a>
    <br><br>
    <h1>SAÍDAS</h1>


<h2>JULHO</h2>

<table>
    <thead>
        <tr>
            <th scope="col">#&emsp;</th>
            <th scope="col">Categoria&emsp;</th>
            <th scope="col">Data&emsp;</th>
            <th scope="col">Descrição&emsp;</th>
            <th scope="col">Valor&emsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for saida in saidas %}
            {% if saida.data.month == 7 %}
                <tr>
                    <td scope="row">{{ saida.id }}&emsp;</td>
                    <td scope="row">{{ saida.categoria }}&emsp;</td>
                    <td scope="row">{{ saida.data.day }}-{{ saida.data.month }}-{{ saida.data.year }}&emsp;</td>
                    <td scope="row">{{ saida.descricao }}&emsp;</td>
                    <td scope="row">{{ saida.valor }}</td>
                </tr>
                
            {% endif %}
        {% endfor %}
        
        
        
        
    </tbody>
</table>
<h3>TOTAL JULHO= {{ soma_jul }}</h3>





<!-- Agosto -->
    <h2>AGOSTO</h2>

    <table>
        <thead>
            <tr>
                <th scope="col">#&emsp;</th>
                <th scope="col">Categoria&emsp;</th>
                <th scope="col">Data&emsp;</th>
                <th scope="col">Descrição&emsp;</th>
                <th scope="col">Valor&emsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for saida in saidas %}
                {% if saida.data.month == 8 %}
                    {% if saida.categoria.id == 4  %}
                        <tr>
                            <td scope="row">{{ saida.id }}&emsp;</td>
                            <td scope="row">{{ saida.categoria }}&emsp;</td>
                            <td scope="row">{{ saida.data.day }}-{{ saida.data.month }}-{{ saida.data.year }}&emsp;</td>
                            <td scope="row">{{ saida.descricao }}&emsp;</td>
                            <td scope="row">{{ saida.valor }}</td>
                        </tr>
                    {% endif %}
                    
                {% endif %}
            {% endfor %}
            
            
            
            
        </tbody>
    </table>
    <h3>TOTAL AGOSTO = {{ soma_ago }}</h3>


    <h3>TOTAL GERAL = {{ soma }}</h3>
    
    
    
</body>
</html>